<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/header.css">
    <link rel="stylesheet" type="text/css" href="/style/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>FreeWanime</title>
</head>
<body>
    <header class="nav-header">
        <h1>Welcome to FreeWanime</h1>
        <nav>
            <ul>
                <li><a class="nav-items" href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a class="nav-items" href="/category"><i class="fas fa-list"></i> Category</a></li>
                <li><a class="nav-items" href="/populer"><i class="fas fa-fire"></i> Populer</a></li>
            </ul>
        </nav>
    </header>
    <main>